body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-contener {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */
.content-section {
  padding: 100px 90px;
}

.projects-section .title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2rem;
  color: #000;
  margin: 0 0 10px 0;
}

/* About me section */
.header {
  margin: 0 0 40px 0;
}

.header .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2rem;
  color: #000;
  margin: 0 0 20px 0;
}

.title-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2rem;
  color: #000;
  margin: 0 0 25px 0;
}

.header .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7rem;
  color: #595959;
  margin: 0 0 40px 0;
  width: 400px;
}

.header .text-mark,
.my-projects-item {
  color: #000;
  font-weight: 700;
}

/* My projects */
.projects-section {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7rem;
}

.my-projects-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7rem;
  color: #595959;
  margin-left: 10px;
}

.my-projects-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7rem;
  color: #595959;
}

/* My-work-experience */

.education-section .work-title-red,
.work-section .subtitle-red,
.header .title-red {
  color: #800000;
}

.work-section .subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25rem;
  color: #000;
  margin: 0 0 10px 0;
}

.education-section .subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25rem;
  color: #000;
  margin: 0 0 10px 0;
}

.education-section .text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25rem;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.education-section .text-mark,
.work-section .text-mark {
  color: #000;
}

.projects-section .title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2rem;
  color: #000;
  margin: 0 0 10px 0;
}

.work-section .text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25rem;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.work-section .work-list {
  padding-left: 18px;
}

.language-section .language-list {
  padding-left: 0px;
}

.work-list .item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7rem;
  color: #595959;
}

.section {
  margin-bottom: 15px;
}

.education-section .subtitle-professional {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2rem;
  margin-bottom: 12px;
}

/* sidebar */
.sidebar-section {
  background-color: #696969;
  width: 370px;
  padding: 40px 0px;
}

.contact-section,
.tech-section,
.soft-section,
.certificat-section {
  margin: 50px 0 0 40px;
}

.contact-section .title,
.tech-section .title,
.soft-section .title,
.certificat-section .title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2rem;
  color: #b0e0e6;
  margin-bottom: 10px;
}

/* Contact section */
.contact-section .type {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7rem;
  color: #fff;
  margin-right: 10px;
}

.contact-section .type-messenger {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7rem;
  color: #fff;
  margin-left: 15px;
  margin-right: 9px;
}

/* Tech skills section*/
.skills-list,
.skills-list,
.certificat-list,
.my-projects-list {
  padding: 0 0 0 17px;
}

/* Soft skills section*/
.tech-section .item,
.soft-section .item,
.certificat-section .item,
.contact-section .link,
.certificat-section .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7rem;
  color: #fff0f5;
}

.tech-section .item:hover,
.soft-section .item:hover {
  color: #fff;
  font-weight: 700;
}

.my-photo {
  left: 40px;
  top: 80px;
}

.my-icons {
  margin-left: 57px;
  height: 30px;
}

.item-language {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2rem;
  color: #595959;
  margin-bottom: 7px;
}

.language-level {
  font-size: 24px;
  color: #000000;
}

/* Hobby */
.My-hobbies {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7rem;
  color: #000;
}

/* Icon margin */
.hobbies-icon0 {
  margin-left: 13px;
}

.hobbies-icon1 {
  margin-right: 35px;
}

.hobbies-icon2 {
  margin-right: 47px;
}

.hobbies-icon3 {
  margin-right: 32px;
}

.hobbies-icon4 {
  margin-right: 48px;
}

.hobbies-icon5 {
  margin-right: 56px;
}

/* Update resume */
.contact-section .link:hover,
.contact-section .link:focus,
.certificat-section .link:hover,
.certificat-section .link:focus {
  color: #00bfff;
  font-weight: 700;
}

.contact-section .link:active,
.certificat-section .link:active {
  color: #ff0000;
}
