body {
  font-family: 'Montserrat',
    sans-serif;
  background-color: #f5f7fa;
}

.main-contener {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}


/* Main content section */
.main-content-section {
  padding: 100px 90px;
}

.main-cotent-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin: 0 0 10px 0;
}


/* About me section */
.about-me-section {
  margin: 0 0 40px 0;
}

.about-me-professional {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20px 0;
}

.about-me-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}

.about-me-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0 0 40px 0;
  width: 400px;
}

.color-about-me {
  color: #000;
  font-weight: 700;
}

/* My projects section */
.my-projects-section {
  margin-bottom: 50px;
}

.my-projects-list {
  padding: 0 0 0 17px;
}

.my-projects-item {
  color: #000;
  font-weight: 700;
}

.my-projects-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
}

.my-projects-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-brecket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}


/* My-work-experience */

.my-work-experience-company {
  color: #800000;
}


.my-work-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 10px 0;
}

.my-work-experience-time {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin: 0 0 10px 0;
}

.my-work-experience-brecket {
  color: #000;
}

.my-work-experience-duties {
  padding-left: 18px;
}

.my-work-experience-duty {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-company-block {
  margin-bottom: 15px;
}


.my-work-experience-company-Management {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
}

/* sidebar-section */
.sidebar-section {
  background-color: #696969;
  width: 370px;
  padding: 40px 0px;
}

.contact-section,
.tech-skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-tatle {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #B0E0E6;
  margin-bottom: 10px;
}

/* Contact section */
.contact-section-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.contact-section-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFF0F5;
}

.contact-section-type-messanger {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-left: 15px;
  margin-right: 9px;
}


/* Tech skills section*/
.tech-skills-list {
  padding: 0 0 0 17px;
}


.colors-item {
  color: #000;
}

.tech-skills-item-text {
  color: #FFF0F5;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}


/* Soft skills section*/
.soft-skills-section {
  margin: 50px 0 0 40px;
}

.soft-skills-list {
  padding-left: 17px;
}

.soft-skills-item {
  color: #FB6D3A;
}

.soft-skills-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFF0F5;
}


.my-photo {
  width: 370px;
  height: 354px;
  left: 40px;
  top: 80px;
}

.tech-skills-color-new {
  color: #008080;

}

.sidebar-color-new {
  color: #B0E0E6;
}

.my-new-information-work {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-new-information-certificat {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFF0F5;
}

.my-new-information-certificat-section {
  margin: 50px 0 0 40px;
}

.my-new-information-Future {
  color: #800000;

}

.my-icons {
  display: flex;
  flex-direction: row;
  margin-left: 57px;
  width: 40px;
  height: 40px;
}

.main-language {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #000;
}

.main-language-level {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #000;
}

.main-language-level2 {
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #808080;
}

/* Hobby */
.My-hobbies {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000;

}

/* Icon margin */
.hobbies-icon0 {
  margin-left: 13px;
}

.hobbies-icon1 {
  margin-right: 35px;
}

.hobbies-icon2 {
  margin-right: 47px;
}

.hobbies-icon3 {
  margin-right: 32px;
}

.hobbies-icon4 {
  margin-right: 48px;
}

.hobbies-icon5 {
  margin-right: 56px;
}


/* Update resume */
a:hover {
  color: blue;
  font-size: 17px;
}

a:active {
  color: red;
}

.redact-text-skills:hover {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}